@import './base';

.chatRoom {
  width: 100%;
  min-height: 18.5rem;
  @include flex-d-a-j(column, flex-start, flex-start);
  &__heading {
    @include flex-d-a-j(row, center, flex-start);
    @include font-s-c-w(1.5rem, $white, $bolder);
    width: 100%;
    background-color: $button-color;
    padding: 0.1rem 1rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
    }
  }
  &__messages {
    width: 100%;
    background-color: $white;
    flex: 1;
  }
  @media (max-width: 768px) {
    margin-top: 2rem;
  }
}
