@import './base';
@import './chatRoom';
@import './inputBox';
@import './main';
@import './message';
@import './users';

.wrapper {
  @include flex-d-a-j(row, center, center);
  @media (max-width: 768px) {
    @include flex-d-a-j(column, center, center);
  }
  min-height: 100vh;
  background-color: $dark-blue;
}

.container {
  @include flex-d-a-j(column, flex-start, flex-start);
  width: 50%;
  @media (max-width: 768px) {
    width: 80%;
  }
}

.button {
  @include font-s-c-w(1.2rem, $white, $bolder);
  background-color: $button-color;
  outline: 0;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  &.button--send {
    border-radius: 0;
    width: 5.3rem;
    padding: 0.8rem 0;
  }
  &:hover {
    opacity: 0.7;
  }
}
.icon--online {
  margin-right: 0.8rem;
}
.icon--close {
  margin-left: auto;
  cursor: pointer;
}
